.Nada{
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 40px;
  text-align: center;
  font-weight: 700;
}
.custom-modal {
  display: flex;
  align-items: last baseline;
  justify-content: center;
}
